GNU\ ARM\ v12.2.1\ -\ Debug 
GNU\ ARM\ v12.2.1\ -\ Default
GNU\ ARM\ v12.2.1\ -\ Release
.DS_Store
gecko_sdk_4.4.5
trashed_modified_files
.cproject.bak
.project.bak
GNU ARM v12.2.1 - Release
.projectlinkstore
.uceditor

